.h{
    width: 800px;
    border: 1px solid #d6d7da;
    padding: 10px 45px 45px 0px;
    border-radius: 10px;
    float: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    color: #333333;
    background-color: whitesmoke;
    background-size: cover;
    font-size: 20px;
    margin-top: 2cm;
    margin-right: 400px;
    margin-bottom: 30px;
    float: right;
}